%h2.title.form__title Sign up

.title__line
  .title__line--red
  .title__line--orange
  .title__line--yellow
  .title__line--yellowgreen
  .title__line--lightblue
  .title__line--blue
  .title__line--purple

.form
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field__user__registration
      = f.label :name
      %br/
      = f.text_field :name, autofocus: true
    .field__user__registration
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .field__user__registration
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password, autocomplete: "new-password"
    .field__user__registration
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "Sign up"
  = render "devise/shared/links"
