-# 分類、検索軸
.classification
  .big__classification  
    = link_to odais_path do
      .big__classification__odai お題
    = link_to root_path do
      .big__classification__copy キャッチコピー
  .small__classification  新着
.contents
  - @copies.each do |copy|
    = copy.catchphrase
    = copy.presentation
    - if user_signed_in? && copy.user_id == current_user.id
      = link_to "削除", "/odais/#{copy.odai.id}/copies/#{copy.id}" ,method: :delete, class: 'btn btn-danger'
      = link_to "編集", "/odais/#{copy.odai.id}/copies/#{copy.id}/edit" ,method: :get, class: 'btn btn-danger'
      = link_to "詳細", "/odais/#{copy.odai.id}/copies/#{copy.id}" ,method: :get, class: 'btn btn-danger'
      -# = link_to "編集", edit_odai_copy_path(copy.id,copy.odai_id) ,method: :get, class: 'btn btn-danger'
-# ログイン機能実施後に登録して実装
    -# = copy.user.name

