.copy
  = @copy.odai.text
  = @copy.catchphrase
  -# = @copy.image
  = @copy.presentation
  - @comments.each do |comment|
    = comment.user.name
    = comment.created_at.strftime("%Y/%m/%d %H:%M")
    = comment.text
  - if user_signed_in?
    .form
      = form_for [@odai,@copy,@comment] do |f|
        = f.label :text, "コメント"
        = f.text_area :text
        = f.submit "コメントを投稿する"
