.user__name
  = "#{current_user.name}さんのマイページ"
.user_odais
  = "お題"
  - @odais.each do |odai|
    = odai.text
    = image_tag odai.image.url, class:'odai_image' if odai.image.present?
    = link_to edit_odai_path(odai) do
      .btn.btn-primary.edit__copy--btn お題を編集する
    = link_to "お題を削除する", odai_path(odai) ,method: :delete, class: 'btn btn-primary delete__odai--btn'
.user_copies
  = "キャッチコピー"
  - @copies.each do |copy|
    = copy.odai.text
    = copy.catchphrase
    = copy.presentation
    = link_to "削除", "/odais/#{copy.odai.id}/copies/#{copy.id}" ,method: :delete, class: 'btn btn-danger'
    = link_to "編集", "/odais/#{copy.odai.id}/copies/#{copy.id}/edit" ,method: :get, class: 'btn btn-danger'
    = link_to "詳細", "/odais/#{copy.odai.id}/copies/#{copy.id}" ,method: :get, class: 'btn btn-danger'
