!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    -# bootstrapのmeta読み込み
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    
    %title CopyWritter
    -# bootstrapのcss読み込み
    %link{crossorigin: "anonymous", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", rel: "stylesheet"}/
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}/
    -# %link{href: "css/style.scss", rel: "stylesheet"}/
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fulid
      %header
        .row.header
          .logo-div.col-md-4
            =link_to root_path do
              .toplogo CopyWritter
          -# .btn-group.col-md-3
            -# %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            -#   メニュー
            -# .dropdown-menu
            -#   -# %a.dropdown-item{:href => "#"} 求人検索
            -#   %a.dropdown-item{href: new_odai_path} 課題投稿
            -#   %a.dropdown-item{href: "/users/#{current_user.id}"} マイページ
            -#   %a.dropdown-item{href: destroy_user_session_path, method: :delete} ログアウト

          - if user_signed_in?
            .col-md-2
              .btn.btn-primary.d-block 求人検索
            .col-md-2
              = link_to "課題投稿", new_odai_path,  class: 'btn btn-primary d-block'
            .col-md-2
              %a.btn.btn-primary.d-block{href: "/users/#{current_user.id}", role: "button"} 個人マイページ
            .col-md-2
              = link_to "個人ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-primary d-block'
          - else
            .col-md-2
              .btn.btn-primary.d-block 求人検索
            .col-md-2
              %a.btn.btn-primary.d-block{href: new_user_session_path, role: "button"} 個人ログイン
            .col-md-2
              %a.btn.btn-primary.d-block{href: new_user_registration_path, role: "button"} 個人新規登録

          - if company_signed_in?
            .col-md-2
              = link_to "法人マイページ","companies/#{current_company.id}",method: :get , class: 'btn btn-primary d-block'
            .col-md-2
              = link_to "法人ログアウト",destroy_company_session_path,method: :delete, class: 'btn btn-primary d-block'
          - else
            .col-md-2
              = link_to "法人ログイン",new_company_session_path, class: 'btn btn-primary d-block'
            .col-md-2
              = link_to "法人新規登録",new_company_registration_path, class: 'btn btn-primary d-block'
            


        .header__footer__line
          .header__footer__line--red
          .header__footer__line--orange
          .header__footer__line--yellow
          .header__footer__line--yellowgreen
          .header__footer__line--lightblue
          .header__footer__line--blue
          .header__footer__line--purple
      = yield
      -# bootstrapのjs読み込み
      %script{crossorigin: "anonymous", integrity: "sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7", src: "https://code.jquery.com/jquery-3.1.1.min.js"}
      %script{crossorigin: "anonymous", integrity: "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
      %script{crossorigin: "anonymous", integrity: "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
      %footer
        .header__footer__line
          .header__footer__line--purple
          .header__footer__line--blue
          .header__footer__line--lightblue
          .header__footer__line--yellowgreen
          .header__footer__line--yellow
          .header__footer__line--orange
          .header__footer__line--red
        %p サイトの使い方

